{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
    <thead>
        <tr class="header">
          <th>Pack Type</th>
          <th>Description</th>
          <th>Created by user</th>
          <th>Created on</th>
          <th>Modified by user</th>
          <th>Modified on</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
          <td>{{ data.packtype }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.usercrea }}</td>
          <td>
            {% if data.datecrea %}{{ data.datecrea|date('Y-m-d') }}
            {% endif %}
          </td>
          <td>{{ data.usermodi }}</td>
          <td>
            {% if data.datemodi %}{{ data.datemodi|date('Y-m-d') }}
            {% endif %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
