{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
<thead>
        <tr class="header">
            <th>Class</th>
            <th>Description</th>
            <th>Line</th>
        </tr>
    </thead>

    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.class }}</td>
            <td>{{ data.desclass }}</td>
            <td>{{ data.line }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
