<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Item Master{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <script src="{{ asset('js/jquery.min.js') }}"></script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/select2.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}"></link>
    <script>
      $('#myDropdown').on('hide.bs.dropdown', function() {
        return false;
      });
    </script>

  </head>
  <body>

    {% block header %}
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="{{ path('im_home') }}">Home</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Decorations
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('decorations_select') }}">Search</a>
            </li>
            <li>
              <a href="{{ path('decorations_index') }}">View/Edit</a>
            </li>
            <li>
              <a href="{{ path('decorations_new') }}">Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Form
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('dgform_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('dgform_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('dgform_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Family
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('families_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('families_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('families_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Level
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('levels_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('levels_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('levels_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pack Type
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('packtype_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('packtype_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('packtype_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Process
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('processes_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('processes_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('processes_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sleep Code
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('sleepcode_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('sleepcode_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('sleepcode_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">UPC
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('upccode_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('upccode_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('upccode_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Color Code
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('colors_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('colors_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('colors_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Glass Type
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('glasstypes_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('glasstypes_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('glasstypes_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Class
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ path('classes_select') }}">
                Search</a>
            </li>
            <li>
              <a href="{{ path('classes_index') }}">
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('classes_new') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Item Master
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{  path('im_itemmaster')  }}">
                Search/Edit</a>
            </li>
            <li>
              <a href="{{ path('im_insert') }}">
                Insert</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="{{ path('logout') }}">
            <span title="Logout" class="glyphicon glyphicon-log-out"></span>
          </a>
        </li>

      </ul>



      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% endblock %}

    <div class="container-fluid">
      <div class="row" style="width:30%; position: relative; left:10%; padding-top:30px;">
        <div class="col-xs-12">
          {% include ('::flash-messages.html.twig') %}
        </div>
      </div>

      {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>

</html>
