<!DOCTYPE html>
<html>
  <style>
    .nav-side-menu {
      overflow: auto;
      font-family: verdana;
      font-size: 12px;
      font-weight: 200;
      background-color: #2e353d;
      position: fixed;
      top: 10px;
      width: 300px;
      height: 100%;
      color: #e1ffff;
    }
    /*for changing background on logo*/
    .nav-side-menu .brand {
      background-color: #23282e;
      line-height: 50px;
      display: block;
      text-align: center;
      font-size: 14px;
    }
    .nav-side-menu .toggle-btn {
      display: none;
    }
    .nav-side-menu li,
    .nav-side-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 35px;
      cursor: pointer;
      /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    }
    .nav-side-menu li :not(collapsed) .arrow:before,
    .nav-side-menu ul :not(collapsed) .arrow:before {
      font-family: FontAwesome;
      content: "\f078";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
    }
    .nav-side-menu li .active,
    .nav-side-menu ul .active {
      border-left: 3px solid #d19b3d;
      background-color: #4f5b69;
    }
    .nav-side-menu li .sub-menu li.active,
    .nav-side-menu ul .sub-menu li.active {
      color: #d19b3d;
    }
    .nav-side-menu li .sub-menu li.active a,
    .nav-side-menu ul .sub-menu li.active a {
      color: #d19b3d;
    }
    .nav-side-menu li .sub-menu li,
    .nav-side-menu ul .sub-menu li {
      background-color: #181c20;
      border: none;
      line-height: 28px;
      border-bottom: 1px solid #23282e;
      margin-left: 0;
    }
    .nav-side-menu li .sub-menu li:hover,
    .nav-side-menu ul .sub-menu li:hover {
      background-color: #020203;
    }
    .nav-side-menu li .sub-menu li:before,
    .nav-side-menu ul .sub-menu li:before {
      font-family: FontAwesome;
      content: "\f105";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }
    .nav-side-menu li {
      padding-left: 0;
      border-left: 3px solid #2e353d;
      border-bottom: 1px solid #23282e;
    }
    .nav-side-menu li a {
      text-decoration: none;
      color: #e1ffff;
    }
    .nav-side-menu li a i {
      padding-left: 10px;
      width: 20px;
      padding-right: 20px;
    }
    .nav-side-menu li:hover {
      border-left: 3px solid #d19b3d;
      background-color: #4f5b69;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
    @media (max-width: 767px) {
      .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
      }
      .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
      }
      .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
      }
    }
    @media (min-width: 767px) {
      .nav-side-menu .menu-list .menu-content {
        display: block;
      }
    }
    body {
      margin: 0;
      padding: 0;
    }
    h1 {
      text-align: center;
      vertical-align: center;
      font: 10;
      color: black;
      background-color: lightblue;
      padding-top: 30px;
      margin-bottom:: 20px;
      height: 2.8em;
      position: relative;
      top: -10px;
    }
    .pagewidth {
      overflow-x: hidden;
      width: 100%;
    }
  </style>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Item Master{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <script src="{{ asset('js/jquery.min.js') }}"></script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/select2.min.js') }}"></script>
    <script>
      $('#myDropdown').on('hide.bs.dropdown', function() {
        return false;
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

    {% block header %}
      <h1>Item Related</h1>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

      <div class="nav-side-menu" style="width:10%;" id="myDropdown">
        <div class="brand"><link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
          <img src="{{ asset('logo.png') }}" alt="Arc" style="width:75px;height:100px;"></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">

            <li>
              <a href="{{ path('im_home') }}">
                <i class="glyphicon glyphicon-home" style="position:relative; left:38%;"></i>
                <span class="class="glyphicon glyphicon-plus"" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <!-- <a href="{ logout_path() }}">Logout -->
            </a>
          </li>


                       {# Decorations table front end #}
          <li data-toggle="collapse" data-target="#Table1" class="collapsed">
            <a href="#">Decorations
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table1">
            <li>
              <a href="{{ path('decorations_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('decorations_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('decorations_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                             {# DGFORM table front end #}
          <li data-toggle="collapse" data-target="#Table2" class="collapsed">
            <a href="#">DGForm
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table2">
            <li>
              <a href="{{ path('dgform_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('dgform_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('dgform_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                              {# Families table front end #}
          <li data-toggle="collapse" data-target="#Table3" class="collapsed">
            <a href="#">Families
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table3">
            <li>
              <a href="{{ path('families_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('families_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('families_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                          {# Levels table front end #}
          <li data-toggle="collapse" data-target="#Table4" class="collapsed">
            <a href="#">Levels
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table4">
            <li>
              <a href="{{ path('levels_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('levels_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('levels_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>



                            {# Pack Types table front end #}
          <li data-toggle="collapse" data-target="#Table5" class="collapsed">
            <a href="#">Pack Types
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table5">
            <li>
              <a href="{{ path('packtype_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('packtype_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('packtype_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                           {# Processes table front end #}
          <li data-toggle="collapse" data-target="#Table6" class="collapsed">
            <a href="#">Processes
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table6">
            <li>
              <a href="{{ path('processes_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('processes_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('processes_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                            {# Sleep Codes table front end #}
          <li data-toggle="collapse" data-target="#Table7" class="collapsed">
            <a href="#">Sleep Codes
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table7">
            <li>
              <a href="{{ path('sleepcode_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('sleepcode_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('sleepcode_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>


                          {# UPC Codes table front end #}
          <li data-toggle="collapse" data-target="#Table8" class="collapsed">
            <a href="#">UPC Codes
              <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table8">
            <li>
              <a href="{{ path('upccode_select') }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</a>
            </li>
            <li>
              <a href="{{ path('upccode_index') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                View/Edit</a>
            </li>
            <li>
              <a href="{{ path('upccode_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>

                               {# Color table front end #}
          <li data-toggle="collapse" data-target="#Table9" class="collapsed">
          <a href="#">Color
          <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table9">
          <li>
          <a href="{{ path('colors_select') }}">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search</a>
          </li>
          <li>
          <a href="{{ path('colors_index') }}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          View/Edit</a>
          </li>
          <li>
          <a href="{{ path('colors_new') }}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Insert</a>
          </li>
          </ul>



          {# Glass Type table front end #}
          <li data-toggle="collapse" data-target="#Table10" class="collapsed">
          <a href="#">Glass Type
          <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table10">
          <li>
          <a href="{{ path('glasstypes_select') }}">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search</a>
          </li>
          <li>
          <a href="{{ path('glasstypes_index') }}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          View/Edit</a>
          </li>
          <li>
          <a href="{{ path('glasstypes_new') }}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Insert</a>
          </li>
          </ul>


          {# Classes table front end #}
          <li data-toggle="collapse" data-target="#Table11" class="collapsed">
          <a href="#">Classes
          <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table11">
          <li>
          <a href="{{ path('classes_select') }}">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search</a>
          </li>
          <li>
          <a href="{{ path('classes_index') }}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          View/Edit</a>
          </li>
          <li>
          <a href="{{ path('classes_new') }}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Insert</a>
          </li>
          </ul>


          <li data-toggle="collapse" data-target="#Table12" class="collapsed">
            <a href="#">Item Master
            <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="Table12">
            <li>
              <a href="{{  path('im_itemmaster')  }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search/Edit</a>
            </li>
            <li>
              <a href="{{ path('im_insert') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Insert</a>
            </li>
          </ul>



        </div>
      </div>
    {% endblock %}

    <div class="container-fluid">
      <div class="row" style="width:30%; position: relative; left:10%;">
        <div class="col-xs-12">
          {% include ('::flash-messages.html.twig') %}
        </div>
      </div>

      {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>

</html>
