{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
    <thead>
        <tr class="header">
            <th>Form</th>
            <th>Description</th>
            <th>Created by user</th>
            <th>Created on</th>
            <th>Modified by user</th>
            <th>Modified on</th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.formdg }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.usercrea }}</td>
            <td>{{ data.datecrea|date('m-d-Y') }}</td>
            <td>{{ data.usermodi }}</td>
            <td>{{ data.datemodi|date('m-d-Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
