{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
  <h2>Search Form</h2>
<div style="height: 500px; position:relative; left: 10%;">
  <form action="{{ path('dgform_select') }}" method="get">
    <select id="select1" name="selectbox1" style="width: 15%; margin-bottom: 10px; margin-right: 10px" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select">
      <option value=""></option>
      {% for data in appdata %}
        <option value="{{ data.formdg }}">{{ data.formdg }}</option>
      {% endfor %}
    </select>
    <button type="submit" style="" class="btn btn-success btn-sm">Search</button>
    <a href="{{ path('dgform_index') }}" style="margin-left: 30px" class="btn btn-primary btn-sm">View All</a>
  </form>
</div>
</div>

<script>
  $("#select1").select2({
    placeholder: "Select Form Number",
    allowClear: true
  });
</script>

{% endblock %}
