{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
    <thead>
        <tr class="header">
              <th>Level</th>
              <th>Description</th>
              <th>Runmini</th>
              <th>Changewait</th>
              <th>GR Level</th>
              <th>GR Description</th>
              <th>Created by user</th>
              <th>Created on</th>
              <th>Modified by user</th>
              <th>Modified on</th>
              <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
          <td>{{ data.srLevel }}</td>
          <td>{{ data.Description }}</td>
          <td>{{ data.Runmini }}</td>
          <td>{{ data.Changewait }}</td>
          <td>{{ data.grlevel }}</td>
          <td>{{ data.grdescrip }}</td>
          <td>{{ data.userCrea }}</td>
          <td>{% if data.dateCrea %}{{ data.dateCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
          <td>{{ data.userModi }}</td>
          <td>{% if data.dateModi %}{{ data.dateModi|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
