
{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block body %}
  <h1> ITEM MASTER </h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active" style="padding-left: 350px;">
        <img class="d-block w-100" src="{{ asset('3.png') }}" style="width: 48%;padding-left: 160px;" alt="First slide">
      </div>
      <div class="item" style="padding-left: 350px;">
        <img class="d-block w-100" src="{{ asset('4.png') }}" style="width: 48%;padding-left: 160px;" alt="First slide">
      </div>
      <div class="item" style="padding-left: 350px;">
        <img class="d-block w-100" src="{{ asset('2.jpg') }}" style="width: 48%;padding-left: 160px;" alt="First slide">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>






<script>


$(document).ready(function(){
    $("#carouselExampleIndicators").carousel({interval: 2000});
});
</script>
{% endblock %}
