{% extends 'base.html.twig' %}

{% block body %}


<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<h2>Decorations Table</h2>
</div>
<hr />
<div class="positioning" style="position:relative; left: 10%;">
<div class="row col-md-5">
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn bs-dropdown-to-select-group">
            <select id="select1" class="btn btn-primary btn-sm dropdown-toggle as-is bs-dropdown-to-select">
              <option value="decoration" selected="selected">Decoration</option>
              <option value="screens">Screens</option>
            </select>
          </div>
          <input class="col1 form-control input-sm" name="col1twig_w" type="text" id="myInput1" onkeyup="searchCol1()" placeholder="Search Decoration" title="Type in a Decoration">
          <input class="col2 form-control input-sm" name="col2twig_w" type="text" id="myInput2" onkeyup="searchCol2()" placeholder="Search Screens" title="Type in a Screen">
        </div>
    </div>
</div>
</div>

    <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
    <thead>
        <tr class="header">
            <th>Decoration</th>
            <th>Screens</th>
            <th>Creating User</th>
            <th>Date Created</th>
            <th>Modifying User</th>
            <th>Date Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.decoration }}</td>
            <td>{{ data.screens }}</td>
            <td>{{ data.usercrea }}</td>
            <td>{{ data.datecrea|date('m-d-Y') }}</td>
            <td>{{ data.usermodi }}</td>
            <td>{{ data.datemodi|date('m-d-Y') }}</td>
            <td>
              <div class="btn-group-vertical btn-group-sm">
                <a href="{{ path('decorations_edit', { 'decoration': data.decoration }) }}" class="btn btn-success">edit</a>
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>

  $(document).ready(function() {
    $("#myInput1").show();
    $("#myInput2").hide();
  });

  $('#select1').on('change', function() {
    if ($("#select1 option:selected").val() == "screens") {
      $("#myInput2").show();
      $("#myInput1").hide();
    } else {
      $("#myInput1").show();
      $("#myInput2").hide();
    }
  });

  function searchCol1() {
    var input;
    input = document.getElementById("myInput1").value;


    if (input == "") {
      $('#tableId').find('td:first-child').each(function(i, el) {
        $(el).closest('tr').show();
      })
    } else {

      $('#tableId').find('td:first-child').each(function(i, el) {

        if ($(el).get(0).innerHTML.toLowerCase().includes(input.toLowerCase())) {
          $(el).closest('tr').show();
        } else {
          $(el).closest('tr').hide();
        }

      })
    }

  }

  function searchCol2() {

    var input;
    input = document.getElementById("myInput2").value;

    if (input == "") {
      $('#tableId').find('td:nth-child(2)').each(function(i, el) {
        $(el).closest('tr').show();
      })
    } else {
      $('#tableId').find('td:nth-child(2)').each(function(i, el) {

        if ($(el).text().toLowerCase().includes(input.toLowerCase())) {
          $(el).closest('tr').show();
        } else {
          $(el).closest('tr').hide();
        }

      })
    }
  }

  // $('#select1').change(function() {   if ($(this).val() === "form")     $('.col1').show();   else     $('.col1').hide();   if ($(this).val() === "description")     $('.col2').show();   else     $('.col2').hide();   } )
</script>







{% endblock %}
