{% extends 'base.html.twig' %}

{% block body %}

<table id="myTable" class="table table-striped">
    <thead>
        <tr class="header">
            <th>Decoration</th>
            <th>Screens</th>
            <th>Creating by user</th>
            <th>Created on </th>
            <th>Modified by user</th>
            <th>Modified on </th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.decoration }}</td>
            <td>{{ data.screens }}</td>
            <td>{{ data.usercrea }}</td>
            <td>{{ data.datecrea|date('m-d-Y') }}</td>
            <td>{{ data.usermodi }}</td>
            <td>{{ data.datemodi|date('m-d-Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
