{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<h2>Family Table</h2>
</div>
<hr />

<div class="row col-md-4" style="position:relative; left: 10%;">
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn bs-dropdown-to-select-group">
            <select id="select1" class="btn btn-primary btn-sm dropdown-toggle as-is bs-dropdown-to-select">
              <option value="Family">Family</option>
            </select>
          </div>
          <input class="col1 form-control input-sm" name="col1twig_w" type="text" id="myInput1" onkeyup="searchCol1()" placeholder="Search Form" title="Type in a Form Number">
        </div>
    </div>
</div>

    <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
    <thead>
        <tr class="header">
            <th>Form</th>
            <th>Created by user</th>
            <th>Created on</th>
            <th>Modified by user</th>
            <th>Modified on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for data in appdata %}
        <tr>
            <td><a href="{{ path('families_edit', { 'family': data.family }) }}">{{ data.family }}</a></td>
            <td>{{ data.usercrea }}</td>
            <td>{{ data.datecrea|date('m-d-Y') }}</td>
            <td>{{ data.usermodi }}</td>
            <td>{{ data.datemodi|date('m-d-Y') }}</td>
            <td>
              <div class="btn-group-vertical btn-group-sm">
<a href="{{ path('families_edit', { 'family': data.family }) }}" class="btn btn-success btn-sm">edit</a>
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>



  function searchCol1() {
    var input;
    input = document.getElementById("myInput1").value;


    if (input == "") {
      $('#tableId').find('td:first-child').each(function(i, el) {
        $(el).closest('tr').show();
      })
    } else {

      $('#tableId').find('td:first-child').each(function(i, el) {

        if ($(el).get(0).innerHTML.toLowerCase().includes(input.toLowerCase())) {
          $(el).closest('tr').show();
        } else {
          $(el).closest('tr').hide();
        }

      })
    }

  }



  // $('#select1').change(function() {   if ($(this).val() === "form")     $('.col1').show();   else     $('.col1').hide();   if ($(this).val() === "description")     $('.col2').show();   else     $('.col2').hide();   } )
</script>






{% endblock %}
