{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<h2>Color Entry</h2>
</div>
    <hr />
    <div class="positioning" style="position:relative; left: 10%;">
    <div class="col-xs-6">
          {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Submit New Entry" class="btn btn-success btn-sm" style="margin-bottom: 5px"/>
          {{ form_end(form) }}
          <a href="{{ path('colors_index') }}" class="btn btn-primary btn-sm">Back to the list</a>
    </div>

{% endblock %}
