{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
<thead>
        <tr class="header">
            <th>Color Code</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.colorcode }}</td>
            <td>{{ data.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
