{% extends 'base.html.twig' %}
{% block body %}
  <div class="pagewidth">
    <div class="positioning" style="position:relative; left: 10%;">
      <h2>Glass Type Table</h2>
    </div>
    <hr/>

    <div class="pagewidth">
      <div class="positioning" style="position:relative; left: 10%;">
        <div style="height: 500px">
          <form action="{{ path('glasstypes_select') }}" method="get">
            <select id="select1" name="selectbox1" style="width: 15%; margin-bottom: 10px; margin-right: 10px" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select">
              <option value=""></option>
              {% for data in appdata2 %}
                <option value="{{ data.glasstype }}">{{ data.glasstype }}</option>
              {% endfor %}
            </select>
            <button type="submit" style="" class="btn btn-primary btn-sm">Search</button>
          </form>

          <br/>
          <br/>

          <div class="col-sm-6 col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Update" class="btn btn-success btn-sm" style="margin-bottom: 5px" onclick="return confirm('Are you sure you want to update?')"/>
            {{ form_end(edit_form) }}
            <a href="{{ path('glasstypes_index') }}" class="btn btn-primary btn-sm" style="margin-bottom: 20px">View All</a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to update?')">
            {{ form_end(delete_form) }}
          </div>

          <script>
            $("#select1").select2({placeholder: "Select Glass Type", allowClear: true});
          </script>

        {% endblock %}
