{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<h2>Glass Type Table</h2>
</div>
<hr />
<div class="row col-md-4" style="position:relative; left: 10%;">
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn bs-dropdown-to-select-group">
            <select id="select1" class="btn btn-primary btn-sm dropdown-toggle as-is bs-dropdown-to-select">
            <option value="glasstype" selected="selected">Glass Type</option>
            <option value="englishtype">Description</option>
            </select>
            </div>
            <input class="col1 form-control input-sm" name="col1twig_w" type="text" id="myInput1" onkeyup="searchCol1()" placeholder="Search Glass Type" title="Type in the Glass Type">
            <input class="col2 form-control input-sm" name="col2twig_w" type="text" id="myInput2" onkeyup="searchCol2()" placeholder="Search Description" title="Type in Description">
            </div>
            </div>
            </div>

            <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
             <thead>

             <tr class="header">
                   <th>Glass Type</th>
                   <th>Description</th>
                   <th>Actions</th>
               </tr>
               </thead>
               <tbody>
               {% for data in appdata %}
                 <tr>
                 <td>{{ data.glasstype}}</td>
                   <td>{{ data.englishtype}}</td>
                   <div class="btn-group-vertical btn-group-sm">
                   <td><a href="{{ path('glasstypes_edit', { 'glasstype': data.glasstype }) }}" class="btn btn-success btn-sm">edit</a></td>
                  </div>
                  </td>
                 </tr>
             {% endfor %}
             </tbody>
             </table>
             </div>
             <script>

             $(document).ready(function() {
               $("#myInput1").show();
               $("#myInput2").hide();
             });

             $('#select1').on('change', function() {
               if ($("#select1 option:selected").val() == "englishtype") {
                 $("#myInput2").show();
                 $("#myInput1").hide();
               } else {
                 $("#myInput1").show();
                 $("#myInput2").hide();
               }
             });

             function searchCol1() {
               var input;
               input = document.getElementById("myInput1").value;


               if (input == "") {
                 $('#tableId').find('td:first-child').each(function(i, el) {
                   $(el).closest('tr').show();
                 })
               } else {

                 $('#tableId').find('td:first-child').each(function(i, el) {

                   if ($(el).get(0).innerHTML.toLowerCase().includes(input.toLowerCase())) {
                     $(el).closest('tr').show();
                   } else {
                     $(el).closest('tr').hide();
                   }

                 })
               }

             }

             function searchCol2() {

               var input;
               input = document.getElementById("myInput2").value;

               if (input == "") {
                 $('#tableId').find('td:nth-child(2)').each(function(i, el) {
                   $(el).closest('tr').show();
                 })
               } else {
                 $('#tableId').find('td:nth-child(2)').each(function(i, el) {

                   if ($(el).text().toLowerCase().includes(input.toLowerCase())) {
                     $(el).closest('tr').show();
                   } else {
                     $(el).closest('tr').hide();
                   }

                 })
               }
             }

             // $('#select1').change(function() {   if ($(this).val() === "form")     $('.col1').show();   else     $('.col1').hide();   if ($(this).val() === "description")     $('.col2').show();   else     $('.col2').hide();   } )
             </script>







             {% endblock %}
