{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<h2>Glass Type Entry</h2>

    <hr />


    <div class="col-xs-6">
          {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Submit New Entry" class="btn btn-success btn-sm" style="margin-bottom: 5px"/>
          {{ form_end(form) }}

          <a href="{{ path('glasstypes_index') }}" class="btn btn-primary btn-sm">Back to the list</a>

    </div>
    </div>
    </div>

{% endblock %}
