{% extends 'base.html.twig' %}

{% block body %}
<div class="pagewidth">
<div class="positioning" style="position:relative; left: 10%;">
<table id="myTable" class="table table-striped">
<thead>
        <tr class="header">
            <th>Glass Type</th>
            <th>Description</th>
            <th>Heat_Trtmt_Code</th>
            <th>Cold_Trtmt_Code</th>
            <th>Tint_Code</th>
            <th>Min_Margin_Rate</th>
            <th>Max_Margin_Rate</th>
        </tr>
    </thead>


    <tbody>
    {% for data in appdata %}
        <tr>
            <td>{{ data.glasstype }}</td>
            <td>{{ data.englishtype }}</td>
            <td>{{ data.heattrtmtcode }}</td>
            <td>{{ data.coldtrtmtcode }}</td>
            <td>{{ data.tintcode }}</td>
            <td>{{ data.minmarginrate  }}</td>
            <td>{{ data.maxmarginrate }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </tbody>
</table>
</div>
</div>
{% endblock %}
