{% extends 'base.html.twig' %}

{% block body %}
<style>
.imt-table label {
  width: 20rem;
}
</style>
  <form action="{{ path('itemmaster_update') }}" method="get">
    <div class="pagewidth">
      <div class="positioning" style="position:relative; left: 10%;">
        <h2>Item Master Type Table</h2>
      </div>
      <hr/>

      <table id="tableId" class="table table-striped imt-table" style="width:90%; position:relative; left:10%;">
        <tr>
        <td align="right">
          <button type="submit"  class="btn btn-primary btn-sm">Update</button>
          </td>
        </tr>
        <tr>
          <td>
          
          <label for="itemnumber">Item Number:</label>
          <input name="itemnumber" value="{{ itemmasterData.itemnumber }}" id="itemnumber"/>
         
          <label for="itemdesc">Item Desc:</label>
          <input name="description" value="{{ itemmasterData.description }}" id="itemdesc" size="40"/>
          
          </td>
        </tr>
        <tr>
          <td>
          <label for="var">Var:</label>
          <input name="desvariante" value="{{ itemmasterData.desvariante }}" size="30" id="var"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="class">Class:</label>
          <input name="class" value="{{ itemmasterData.class }}" id="class"/>
          <label for="classdesc">Class Description:</label>
          {% if (classesData != null) %}
          <input name="desclass" value="{{ classesData.desclass }}" size="30" id="classdesc"/>
          {% else %}
          <input name="desclass" value="" size="30" placeholder="Class Description" id="classdesc"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="tempered">Tempered:</label>
          <input name="tempered" value="{{ itemmasterData.tempered }}" id="tempered"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="srlevel">Level of Fab:</label>
          <input name="srlevel" value="{{ itemmasterData.srlevel }}" id="srlevel"/>
          <label for="leveldesc">Levels Description:</label>
          {% if (levelsData != null) %}
          <input name="levelsdescription" value="{{ levelsData.description }}"/>
          {% else %}
          <input name="levelsdescription" value="" placeholder="Levels Description" />
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="manprocess">Manufacturing Process:</label>
          <input name="manprocess" value="{{ itemmasterData.manprocess }}" id="manprocess"/>
          <label for"processdesc">Process Description</label>
          {% if (processesData != null) %}
          <input name="manprocessdescription" value="{{ processesData.description }}" id="processdesc"/>
          {% else %}
          <input name="manprocessdescription" value="" placeholder="Process Desc" id="processdesc"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="iscommercial">Is Commercial?</label>
          <input name="iscommercial" value="{{itemmasterData.iscommercial }}" id="iscommercial"/>
          <label for="corpsku">Corporate SKU:</label>
          {% if (itemmasterextData == null) %}
          <input name="corpsku" value="" id="corpsku"/>
          {% else %}
          <input name="corpsku" value="{{ itemmasterextData.corpsku }}" id="corpsku"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="decoration">Decoration:</label>
          <input name="decoration" value="{{ itemmasterData.decoration }}" id="decoration"/>
          <label for="screens">Screens:</label>
          {% if (decorationsData != null) %}
          <input name="screens" value="{{ decorationsData.screens }}" id="screens"/>
          {% else %}
          <input name="screens" value="" placeholder="Screens" id="screens"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="enamel">Enamel Weight:</label>
          <input name="enamel" value="{{ itemmasterData.enamel }}" id="enamel"/>
          <label for="gold">Gold Weight:</label>
          <input name="gold" value="{{ itemmasterData.gold }}" id="gold"/></td>
        </tr>
        <tr>
          <td>
          <label for="nomenclature">Nomenclature:</label>
          <input name="nomenclature" value="{{ itemmasterData.nomenclature }}" id="nomenclature"/>
          <label for="collection">Family:</label>
          <input name="collection" value="{{ itemmasterData.collection }}" id="collection"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="vcanumber">VCA Ref:</label>
          <input name="vcanumber" value="{{ itemmasterData.vcanumber }}" id="vcanumber"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="form">Form:</label>
          <input name="form" value="{{ itemmasterData.form }}" id="form"/>
          <label for="formdescription">Form Description:</label>
          {% if (formData != null) %}
          <input name="formdescription" value="{{ formData.description }}" id="formdescription"/>
          {% else %}
          <input name="formdescription" value="" placeholder="Form Description" id="formdescription"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="ufile">VCA File:</label>
          <input name="ufile" value="{{ itemmasterData.ufile }}" id="ufile"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="glasstype">Glass Type:</label>
          {% if (glasstypeData != null) %}
          <input name="glasstype" value="{{ glasstypeData.glasstype }}" id="glasstype"/>
          {% else %}
          <input name="glasstype" value="" placeholder="Glass Type" id="glasstype"/>
          {% endif %}
          <label for="englishtype">English Type</label>
          {% if (glasstypeData != null) %}
          <input name="englishtype" value="{{ glasstypeData.englishtype }}" id="englishtype"/>
          {% else %}
          <input name="englishtype" value="" placeholder="English Type" id="englishtype"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="cplan">VCA Mold Plan:</label>
          <input name="cplan" value="{{ itemmasterData.cplan }}" id="cplan"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="colorcode">Glass Color:</label>
          {% if (colorData != null) %}
          <input name="colorcode" value="{{ colorData.colorcode }}" id="colorcode"/>
          {% else %}
          <input name="colorcode" value="" placeholder="Color Code" id="colorcode"/>
          {% endif %}
         <label for="colorenglish">Color English</label>
          {% if (colorData != null) %}
          <input name="colorenglish" value="{{ colorData.colorenglish }}" id="colorenglish"/>
          {% else %}
          <input name="colorenglish" value="" placeholder="Color English" id="colorenglish"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="laser">Laser Code:</label>
          <input name="laser" value="{{ itemmasterData.laser }}"/>
          <label for="extmerchcat">External Merch Code:</label>
          {% if (itemmasterextData == null) %}
          <input name="extmerchcat" value="" id="extmerchcat"/>
          {% else %}
          <input name="extmerchcat" value="{{ itemmasterextData.extmerchcat }}" id="extmerchcat"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="upc">UPC Label:</label>
          <input name="upc" value="{{ itemmasterData.upc }}" id="upc"/>
          <label for="upcdescription">UPC Description:</label>
          {% if (upccodeData != null) %}
          <input name="upcdescription" value="{{ upccodeData.description }}" size="40" id="upcdescription"/>
          {% else %}
          <input name="upcdescription" value="" size="40" id="upcdescription"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="casecode">Case Code:</label>
          {% if (itemmasterextData == null) %}
          <input name="casecode" value="" id="casecode"/>
          {% else %}
          <input name="casecode" value="{{ itemmasterextData.casecode }}" id="casecode"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="upccode">UPC Code:</label>
          {% if (itemmasterextData == null) %}
          <input name="upccode" value="" placeholder="UPC Code" id="upccode"/>
          {% else %}
          <input name="upccode" value="{{ itemmasterextData.upc }}" id="upccode"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="grossweight">Gross Weight:</label>
          <input name="grossweight" value="{{ itemmasterData.grossweight }}" id="grossweight"/>grams
          <label for="netweight">Net Weight:</label>
          <input name="netweight" value="{{ itemmasterData.netweight }}" id="netweight"/>grams
          </td>
        </tr>
        <tr>
          <td>
          <label for="packaging">Packaging:</label>
          <input name="packaging" value="{{ itemmasterData.packaging }}" id="packaging"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="unitmeasure">Unit of Measure:</label>
          <input name="unitmeasure" value="{{ itemmasterData.unitmeasure }}" id="unitmeasure"/>
          <label for="nbmast">Unit(s)/Master:</label>
          <input name="nbmast" value="{{ itemmasterData.nbmast }}" id="nbmast"/>
          </td>
        </tr>
        <tr>
          <th>Master Carton:</th>
        </tr>
        <tr>
          <td>
          <label for="length">Length:</label>
          <input name="length" value="{{ itemmasterData.length }}" id="length"/><br>
          <label for="width">Width:</label>
          <input name="width" value="{{ itemmasterData.width }}" id="width"/><br>
          <label for="height">Height:</label>
          <input name="height" value="{{ itemmasterData.height }}" id="height"/>
            in cm (Metric)
          </td>
        </tr>
        <tr>
          <td>
          <label for="unitpallet">Pieces/Pallet</label>
          <input name="unitpallet" value="{{ itemmasterData.unitpallet }}" id="unitpallet"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="costvca">VCA Cost:</label>
          <input name="costvca" value="{{ itemmasterData.costvca }}" id="costvca"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="mini">Months in Mini Stock:</label>
          <input name="mini" value="{{ itemmasterData.mini }}" id="mini"/>
          <label for="maxi">Months in Maxi Stock:</label>
          <input name="maxi" value="{{ itemmasterData.maxi }}"/>
          </td>
        </tr>
         <tr>
          <th>Sleep:</th>
        </tr>
        <tr>
          <td>
          <label for="sleepcode">Sleep Code:</label>
          <input name="sleepcode" value="{{ itemmasterData.sleepcode }}" id="sleepcode"/>
          <label for="sleepcodedescription">Sleep Code Desc:</label>
          {% if (sleepcodeData != null) %}
          <input name="sleepcodedescription" value="{{ sleepcodeData.description }}"/>
          {% else %}
          <input name="sleepcodedescription" value="" placeholder="Sleep Code"/>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td>
          <label for="sleepdate">Sleep Date:</label>
          <input name="sleepdate" value="{{ itemmasterData.sleepdate|date('m-d-Y') }}"/>
          </td>
        </tr>
        <tr>
          <td>
          <label for="creationdate">Creation On:</label>
          <input name="creationdate" value="{{ itemmasterData.creationdate|date('m-d-Y') }}" id="creationdate"/>
          <label for="moddate">Modified On:</label>
          <input name="moddate" value="{{ itemmasterData.moddate|date('m-d-Y') }}" id="moddate"/>
          </td>
        </tr>
        <tr>
        <td align="right">
          <button type="submit"  class="btn btn-primary btn-sm">Update</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}
