{% extends 'base.html.twig' %}

{% block body %}

  <div class="pagewidth">
    <div class="positioning" style="position:relative; left: 10%;">
      <h2>Item Master Table</h2>
    </div>
    <hr/>

    <form method="get" action="{{ path('itemnumber_display') }}">
    <div class="row col-md-4" style="position:relative; left: 10%;">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn bs-dropdown-to-select-group">
            <select id="select1" class="btn btn-primary btn-sm dropdown-toggle as-is bs-dropdown-to-select">
              <option value="itemnumber" selected="selected">Item Number</option>
            </select>
          </div>
          <div class="btn-group-vertical btn-group-sm">
              <input type="text" name="myInput1" placeholder="Enter item number"/>
          </div>
          <div class="btn-group-vertical btn-group-sm">
              <button type="submit" style="" class="btn btn-success btn-sm">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </form>

  </div>

{% endblock %}
