{% extends 'base.html.twig' %}

{% block body %}
  <div class="pagewidth">
    <div class="positioning" style="position:relative; left: 10%;">
      <h2>Item Master Table</h2>
    </div>
    <hr/>

    <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
      {# Row 1: 1 column Attributes: colspan="8" align="right"#}
      {# % set row1attr = ' colspan=8' % #}
      <tr>
        <td colspan="8" align="right">
          <a href="{{ path('itemmaster_edit',{'itemnumberEdit':itemmasterData.itemnumber}) }}"  class="btn btn-primary btn-sm">Edit</a>
        </td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>Item Number:</th>
        <td>{{ itemmasterData.itemnumber }}</td>
        <td colspan="3">{{ itemmasterData.description }}</td>
        <th>Var:</th>
        <td>{{ itemmasterData.desvariante }}</td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>Class:</th>
        <td>{{ itemmasterData.class }}</td>
        <td colspan="4">
        {% if (classesData != null) %}
        {{ classesData.desclass }}
        {% endif %}</td>
        <th>Tempered:</th>
        <td>{{ itemmasterData.tempered }}</td>
      </tr>
      {# 6 columns #}
      <tr>
        <th>Level of Fab:</th>
        <td>{{ itemmasterData.srlevel }}</td>
        {% if (levelsData != null) %}
        <td>{{ levelsData.description }}</td>
        {% endif %}
        <th>Manufacturing Process:</th>
        <td>{{ itemmasterData.manprocess }}</td>
        <td>
        {% if (processesData != null) %}
        {{ processesData.description }}
        {% endif %}
        </td>
        <td colspan="2"></td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Is Commercial?</th>
        <td>{{itemmasterData.iscommercial }}</td>
        <th>Corporate SKU:</th>
        <td>
        {% if (itemmasterextData != null) %}
        {{ itemmasterextData.corpsku }}
        {% endif %}
        </td>
        <td colspan="4"></td>
      </tr>
      {# 8 columns MAX! #}
      <tr>
        <th>Decoration:</th>
        <td>{{ itemmasterData.decoration }}</td>
        <th>Screens:</th>
        <td>        
        {% if (decorationsData != null) %}
        {{ decorationsData.screens }}
        {% endif %}
        </td>
        <th>Enamel Wt.:</th>
        <td>{{ itemmasterData.enamel }}</td>
        <th>Gold Wt.:</th>
        <td>{{ itemmasterData.gold }}</td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Nomenclature:</th>
        <td>{{ itemmasterData.nomenclature }}</td>
        <th>Family:</th>
        <td>{{ itemmasterData.collection }}</td>
        <td colspan="4"></td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>VCA Ref:</th>
        <td>{{ itemmasterData.vcanumber }}</td>
        <th>Form:</th>
        <td>{{ itemmasterData.form }}</td>
        <td colspan="3">
        {% if (formData != null) %}
        {{ formData.description }}
        {% endif %}
        </td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>VCA File:</th>
        <td>{{ itemmasterData.ufile }}</td>
        <th>Glass Type:</th>
        <td>
        {% if (glasstypeData != null) %}
        {{ glasstypeData.glasstype }}
        {% endif %}
        <td>
        {% if (glasstypeData != null) %}
        {{ glasstypeData.englishtype }}
        {% endif %}
        </td>
        <td colspan="3"></td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>VCA Mold Plan:</th>
        <td>{{ itemmasterData.cplan }}</td>
        <th>Glass Color:</th>
          <td>
          {% if (colorData != null) %}
          {{ colorData.colorcode }}
          {% endif %}
          </td>
          <td>
          {% if (colorData != null) %}
          {{ colorData.colorenglish }}
          {% endif %}
          </td>
          <td colspan="3"></td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Laser Code:</th>
        <td>{{ itemmasterData.laser }}</td>
        <th>External Merch Code:</th>
        <td>
        {% if (itemmasterextData != null) %}
        {{ itemmasterextData.extmerchcat }}
        {% endif %}
        </td>
        <td colspan="4"></td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>UPC Label:</th>
        <td>{{ itemmasterData.upc }}</td>
        <td>
        {% if (upccodeData != null) %}
        {{ upccodeData.description }}
        {% endif %}
        </td>        
        <th>Case Code:</th>
        <td>
        {% if (itemmasterextData != null) %}
        {{ itemmasterextData.casecode }}
        {% endif %}
        </td>
        <td colspan="3"></td>
      </tr>
      {# 2 columns #}
      <tr>
        <th>UPC Code:</th>
        <td>
        {% if (itemmasterextData != null) %}
        {{ itemmasterextData.upc }}
        {% endif %}
        </td>
        <td colspan="6"></td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Gross Weight:</th>
        <td>{{ itemmasterData.grossweight }}
          grams</td>
        <th>Net Weight:</th>
        <td>{{ itemmasterData.netweight }}
          grams</td>
          <td colspan="4"></td>
      </tr>
      {# 6 columns #}
      <tr>
        <th>Packaging:</th>
        <td>{{ itemmasterData.packaging }}</td>
        <th>Unit of Measure:</th>
        <td>{{ itemmasterData.unitmeasure }}</td>
        <th>Unit(s)/Master:</th>
        <td>{{ itemmasterData.nbmast }}</td>
        <td colspan="2"></td>
      </tr>
      {# 7 columns #}
      <tr>
        <th>Master Carton:</th>
        <th>Length:</th>
        <td>{{ itemmasterData.length }}</td>
        <th>Width:</th>
        <td>{{ itemmasterData.width }}</td>
        <th>Height:</th>
        <td>{{ itemmasterData.height }}
          in cm (Metric)</td>
        <td></td>
      </tr>
      {# 2 columns #}
      <tr>
        <th>Pieces/Pallet
        </th>
        <td>{{ itemmasterData.unitpallet }}</td>
        <td colspan="6"></td>
      </tr>
      {# 2 columns #}
      <tr>
        <th>VCA Cost:</th>
        <td>{{ itemmasterData.costvca }}</td>
        <td colspan="6"></td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Months in Mini Stock:</th>
        <td>{{ itemmasterData.mini }}</td>
        <th>Months in Maxi Stock:</th>
        <td>{{ itemmasterData.maxi }}</td>
        <td colspan="4"></td>
      </tr>
      {# 5 columns #}
      <tr>
        <th>Sleep Code:</th>
        <td>{{ itemmasterData.sleepcode }}</td>
        <td>
        {% if (sleepcodeData != null) %}
        {{ sleepcodeData.description }}
        {% endif %}
        </td>
        <th>Sleep Date:</th>
        <td>{{ itemmasterData.sleepdate|date('m-d-Y') }}</td>
        <td colspan="3"></td>
      </tr>
      {# 4 columns #}
      <tr>
        <th>Creation On:</th>
        <td>{{ itemmasterData.creationdate|date('m-d-Y') }}</td>

        <th>Modified On:</th>
        <td>{{ itemmasterData.moddate|date('m-d-Y') }}</td>
        <td colspan="4"></td>
      </tr>

    </table>
  </div>
{% endblock %}
