{% extends 'base.html.twig' %}

{% block body %}
  <form action="{{ path('im_insert_confirm') }}" method="post">
    <div class="pagewidth">
      <div class="positioning" style="position:relative; left: 10%;">
        <h2>Insert New Item Master Table</h2>
      </div>
      <hr/>

      <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
        <tr>
          <td colspan="4" align="right">
          <button type="submit"class="btn btn-primary btn-sm">Submit</button>
          </td>
        </tr>
        <tr>
          <th>Item Number:</th>
          <td><input name="itemnumber" id="itemnumber" value="{{ itemmasterObj.itemnumber }}" disabled/></td>
          <th>Description:</th>
          <td><input name="description" value="{{ itemmasterObj.description }}" size="40" disabled/></td>
        </tr>
        <tr>
          <th>Var:</th>
          <td><input name="desvariante" size="30" value="{{ itemmasterObj.desvariante }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Class:</th>
          <td><input name="class" id="class"
            value="{{ itemmasterObj.class }}" disabled/></td>
          <th>Class Description:</th>
          <td><input name="desclass" size="30" value="{{ classObj.desclass }}" disabled/></td>
        </tr>
        <tr>
          <th>Tempered:</th>
          <td><input name="tempered" value="{{ itemmasterObj.tempered }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Level of Fab:</th>
          <td><input name="srlevel" id="srlevel" value="{{ itemmasterObj.srLevel }}" disabled/></td>
          <th>Description:</th>
          <td><input name="levelsdescription" value="{{ levelObj.description }}" disabled/></td>
        </tr>
        <tr>
          <th>Manufacturing Process:</th>
          <td><input name="manprocess" id="manprocess" value="{{ itemmasterObj.manProcess }}" disabled/></td>
          <th>Manufacturing Process Desc:</th>
          <td><input name="manprocessdescription" value="{{ processObj.description }}" disabled/></td>
        </tr>
        <tr>
          <th>Is Commercial?</th>
          <td><input name="iscommercial" value="{{ itemmasterObj.iscommercial }}" disabled/></td>
          <th>Corporate SKU:</th>
          <td><input name="corpsku" value="{{ itemmasterextObj.corpsku }}" disabled/></td>
        </tr>
        <tr>
          <th>Decoration:</th>
          <td><input name="decoration" id="decoration" value="{{ itemmasterObj.decoration }}" disabled/></td>
          <th>Screens:</th>
          <td><input name="screens" value="{{ decorationObj.screens }}" disabled/></td>
        </tr>
        <tr>
          <th>Enamel Wt.:</th>
          <td><input name="enamel" value="{{ itemmasterObj.enamel }}" disabled/></td>
          <th>Gold Wt.:</th>
          <td><input name="gold" value="{{ itemmasterObj.gold }}" disabled/></td>
        </tr>
        <tr>
          <th>Nomenclature:</th>
          <td><input name="nomenclature" value="{{ itemmasterObj.nomenclature }}" disabled/></td>
          <th>Family:</th>
          <td><input name="collection" value="{{ itemmasterObj.collection }}" disabled/></td>
        </tr>
        <tr>
          <th>VCA Ref:</th>
          <td><input name="vcanumber" value="{{ itemmasterObj.vcanumber }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Form:</th>
          <td><input name="form" id="form" value="{{ itemmasterObj.form }}" disabled/></td>
          <th>Form Desc:</th>
          <td><input name="formdescription" value="{{ formObj.description }}" disabled/></td>
        </tr>
        <tr>
          <th>VCA File:</th>
          <td><input name="ufile" value="{{ itemmasterObj.ufile }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Glass Type:</th>
          <td><input name="glasstype" id="glasstype" value="{{ itemmasterObj.ctver }}" disabled/></td>
          <th>English Type</th>
          <td><input name="englishtype" value="{{ glasstypeObj.englishtype }}" disabled/></td>
        </tr>
        <tr>
          <th>VCA Mold Plan:</th>
          <td><input name="cplan" value="{{ itemmasterObj.cplan }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Glass Color:</th>
          <td><input name="colorcode" id="colorcode" value="{{ itemmasterObj.cteinte }}" disabled/></td>
          <th>English Color:</th>
          <td><input name="colorenglish" value="{{ colorObj.colorenglish }}" disabled/></td>
        </tr>
        <tr>
          <th>Laser Code:</th>
          <td><input name="laser" value="{{ itemmasterObj.laser }}" disabled/></td>
          <th>External Merch Code:</th>
          <td><input name="extmerchcat" value="{{ itemmasterextObj.extmerchcat }}" disabled/></td>
        </tr>
        <tr>
          <th>UPC Label:</th>
          <td><input name="upc" id="upc" value="{{ itemmasterObj.upc }}" disabled/></td>
          <th>UPC Desc:</th>
          <td><input name="upcdescription" value="{{ upcObj.description }}"  size="40" disabled/></td>
        </tr>
        <tr>
          <th>Case Code:</th>
          <td><input name="casecode" value="{{ itemmasterextObj.casecode }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>UPC Code:</th>
          <td><input name="upccode" value="{{ itemmasterextObj.upc }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Gross Weight:</th>
          <td><input name="grossweight" value="{{ itemmasterObj.grossweight }}" disabled/>grams</td>
          <th>Net Weight:</th>
          <td><input name="netweight"  value="{{ itemmasterObj.netweight }}" disabled/>grams</td>
        </tr>
        <tr>
          <th>Packaging:</th>
          <td><input name="packaging" value="{{ itemmasterObj.packaging }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Unit of Measure:</th>
          <td><input name="unitmeasure" value="{{ itemmasterObj.unitmeasure }}" disabled/></td>
          <th>Unit(s)/Master:</th>
          <td><input name="nbmast" value="{{ itemmasterObj.nbmast }}" disabled/></td>
        </tr>
        <tr>
          <th colspan="4">Master Carton:</th>
        </tr>
        <tr>
          <th>Length:</th>
          <td><input name="length" value="{{ itemmasterObj.length }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Width:</th>
          <td><input name="width" value="{{ itemmasterObj.width }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Height:</th>
          <td><input name="height" value="{{ itemmasterObj.height }}" disabled/>
            in cm (Metric)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <th>Pieces/Pallet</th>
          <td><input name="unitpallet" value="{{ itemmasterObj.unitpallet }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>VCA Cost:</th>
          <td><input name="costvca" value="{{ itemmasterObj.costvca }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Months in Mini Stock:</th>
          <td><input name="mini" value="{{ itemmasterObj.mini }}" disabled/></td>
          <th>Months in Maxi Stock:</th>
          <td><input name="maxi" value="{{ itemmasterObj.maxi }}" disabled/></td>
        </tr>
        <tr>
          <th>Sleep Code:</th>
          <td><input name="sleepcode" id="sleepcode" value="{{ itemmasterObj.sleepcode }}" disabled/></td>
          <th>Sleep Code Desc:</th>
          <td><input name="sleepcodedescription" value="{{ sleepcodeObj.description }}" disabled/></td>
        </tr>
        <tr>
          <th>Sleep Date:</th>
          <td><input name="sleepdate" value="{{ itemmasterObj.sleepdate|date('Y-m-d') }}" disabled/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Creation On:</th>
          <td><input name="creationdate" value="{{ itemmasterObj.creationdate|date('Y-m-d') }}" disabled/></td>

          <th>Modified On:</th>
          <td><input name="moddate" value="{{ itemmasterObj.moddate|date('Y-m-d') }}" disabled/></td>
        </tr>
        <tr>
        <td colspan="4" align="right">
          <button type="submit"  class="btn btn-primary btn-sm">Submit</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
{% endblock %}
