{% extends 'base.html.twig' %}

{% block body %}
  <form action="{{ path('im_details') }}" method="post">
    <div class="pagewidth">
      <div class="positioning" style="position:relative; left: 10%;">
        <h2>Insert New Item Master Table</h2>
      </div>
      <hr/>

      <table id="tableId" class="table table-striped" style="width:90%; position:relative; left:10%;">
        <tr>
          <td colspan="4" align="right">
          <button type="submit" class="btn btn-primary btn-sm">Insert</button>
          </td>
        </tr>
        <tr>
          <th>Item Number:</th>
          <td><input name="itemnumber" /></td>
          <th>Description:</th>
          <td><input name="description" size="40" /></td>
        </tr>
        <tr>
          <th>Var:</th>
          <td><input name="desvariante" size="30" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Class:</th>
          <td><input name="class" id="class" type="text"
            value="{{ app.request.get('class') }}"/></td>
          <th>Class Description:</th>
          <td><input name="desclass" size="30" /></td>
        </tr>
        <tr>
          <th>Tempered:</th>
          <td><input name="tempered" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Level of Fab:</th>
          <td><input name="srlevel" id="srlevel"  value="{{ app.request.get('srlevel') }}"/></td>
          <th>Description:</th>
          <td><input name="levelsdescription" /></td>
        </tr>
        <tr>
          <th>Manufacturing Process:</th>
          <td><input name="manprocess" id="manprocess" value="{{ app.request.get('manprocess') }}" /></td>
          <th>Manufacturing Process Desc:</th>
          <td><input name="manprocessdescription" /></td>
        </tr>
        <tr>
          <th>Is Commercial ?</th>
          <td><input name="iscommercial"  id="iscommercial"/></td>
          <th>Corporate SKU:</th>
          <td><input name="corpsku" /></td>
        </tr>
        <tr>
          <th>Decoration:</th>
          <td><input name="decoration" id="decoration" value="{{ app.request.get('decoration') }}"/></td>
          <th>Screens:</th>
          <td><input name="screens" /></td>
        </tr>
        <tr>
          <th>Enamel Wt.:</th>
          <td><input name="enamel" /></td>
          <th>Gold Wt.:</th>
          <td><input name="gold" /></td>
        </tr>
        <tr>
          <th>Nomenclature:</th>
          <td><input name="nomenclature" /></td>
          <th>Family:</th>
          <td><input name="collection" value="{{ app.request.get('collection') }}"/></td>
        </tr>
        <tr>
          <th>VCA Ref:</th>
          <td><input name="vcanumber" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Form:</th>
          <td><input name="form" id="form" value="{{ app.request.get('form') }}" /></td>
          <th>Form Desc:</th>
          <td><input name="formdescription" /></td>
        </tr>
        <tr>
          <th>VCA File:</th>
          <td><input name="ufile" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Glass Type:</th>
          <td><input name="glasstype" id="glasstype" value="{{ app.request.get('glasstype') }}" /></td>
          <th>English Type:</th>
          <td><input name="englishtype" /></td>
        </tr>
        <tr>
          <th>VCA Mold Plan:</th>
          <td><input name="cplan" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Glass Color:</th>
          <td><input name="colorcode" id="colorcode" value="{{ app.request.get('colorcode') }}" /></td>
          <th>Enflish Color:</th>
          <td><input name="colorenglish" /></td>
        </tr>
        <tr>
          <th>Laser Code:</th>
          <td><input name="laser" /></td>
          <th>External Merch Code:</th>
          <td><input name="extmerchcat" /></td>
        </tr>
        <tr>
          <th>UPC Label:</th>
          <td><input name="upc" id="upc" value="{{ app.request.get('upc') }}" /></td>
          <th>UPC Desc:</th>
          <td><input name="upcdescription"  size="40"/></td>
        </tr>
        <tr>
          <th>Case Code:</th>
          <td><input name="casecode" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>UPC Code:</th>
          <td><input name="upccode" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Gross Weight:</th>
          <td><input name="grossweight" />grams</td>
          <th>Net Weight:</th>
          <td><input name="netweight"  />grams</td>
        </tr>
        <tr>
          <th>Packaging:</th>
          <td><input name="packaging" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Unit of Measure:</th>
          <td><input name="unitmeasure" /></td>
          <th>Unit(s)/Master:</th>
          <td><input name="nbmast" /></td>
        </tr>
        <tr>
          <th colspan="4">Master Carton:</th>
        </tr>
        <tr>
          <th>Length:</th>
          <td><input name="length" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Width:</th>
          <td><input name="width" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Height:</th>
          <td><input name="height" />
            in cm (Metric)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
          <th>Pieces/Pallet
          </th>
          <td><input name="unitpallet" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>VCA Cost:</th>
          <td><input name="costvca" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Months in Mini Stock:</th>
          <td><input name="mini" /></td>
          <th>Months in Maxi Stock:</th>
          <td><input name="maxi" /></td>
        </tr>
        <tr>
          <th>ItemType:</th>
          <td><input name="itemtype" /></td>
          <th>PackType:</th>
          <td><input name="packtype" /></td>
        </tr>
        <tr>
          <th>Sleep Code:</th>
          <td><input name="sleepcode" id="sleepcode"  value="{{ app.request.get('sleepcode') }}" /></td>
          <th>Sleep Code Desc:</th>
          <td><input name="sleepcodedescription" /></td>
        </tr>
        <tr>
          <th>Sleep Date:</th>
          <td><input name="sleepdate" type="date"/></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Creation On:</th>
          <td><input name="creationdate" type="date"/></td>

          <th>Modified On:</th>
          <td><input name="moddate" type="date"/></td>
        </tr>
       <tr>
          <td colspan="4" align="right">
          <button type="submit" class="btn btn-primary btn-sm">Insert</button>
          </td>
        </tr>
      </table>
    </div>
  </form>


{% endblock %}
