{% extends 'base.html.twig' %}

{% block body %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <img src="{{ asset('logo.png') }}" style="margin-left: auto;margin-right: auto;display:block;width:25;"/>
  <form action="{{ path('login') }}" method="post" class="form-signin" style="margin: 0 auto; max-width: 400px">
    <h2 class="form-signin-heading" style="padding-left: 60px;">ITEM MASTER APP</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus>
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>

    {#
      If you want to control the URL the user
      is redirected to on success (more details below)
      <input type="hidden" name="_target_path" value="/account" />
    #}
    <br />
    <button type="submit" class="btn btn-lg btn-primary btn-block">login</button>
    <h5 style="color:red;">Disclaimer :  Please use your windows credentials</h5>
  </form>

  <br />




{% endblock %}
